.App {
   text-align: center;
}
body {
   background: rgb(131, 58, 180);
   background: linear-gradient(
      90deg,
      rgba(131, 58, 180, 1) 0%,
      rgba(24, 157, 113, 1) 49%,
      rgba(252, 176, 69, 1) 100%
   );
   background-repeat: no-repeat;
   background-size: cover;
}
.h1 {
   font-family: "SF Alien Encounters", sans-serif;
   font-weight: 400;
   letter-spacing: 4px;
   font-size: 4rem;
   color: rgb(190, 255, 250);
   height: 3rem !important;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
